# Grafana
GRAFANA_VERSION=grafana_docker_image_version
GRAFANA_HOST_PORT=grafana_container_host_port

# Prometheus
PROMETHEUS_VERSION=prometheus_docker_image_version
PROMETHEUS_HOST_PORT=prometheus_container_host_port

# Node Exporter
NODE_EXPORTER_VERSION=node_exporter_docker_image_version
NODE_EXPORTER_HOST_PORT=node_exporter_container_host_port

# ELK stack
# Password for the 'elastic' user (at least 6 characters)
ELASTICSEARCH_PASSWORD=elastic_user_password

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=kibana_system_user_password

# Version of Elastic products
ELK_STACK_VERSION=elk_stack_docker_images_version

# Set to 'basic' or 'trial' to automatically start the 30-day trial
ELASTICSEARCH_LICENSE=basic
#ELASTICSEARCH_LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ELASTICSEARCH_PORT=elasticsearch_container_host_port

# Port to expose Kibana to the host
KIBANA_PORT=kibana_container_host_port
